<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to @trap.id, requests_path(@trap.id), class: 'navbar-brand' %>
    </div>
  </div>
</nav>